<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: white;
        color: black;
        font-family: Arial, sans-serif; /* Change this to your preferred font */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <center>
      <img src="/media/original_images/no_cam.jpg" alt="No_Cam" width="200" height="200">
      <h1>Camera Off</h1>
    </center>
  </body>
</html>